.bar {
  background-color: var(--bg-secondary);
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 4px 4px 0 0;
  grid-template-columns: auto 1fr auto;
  gap: 0.75rem;
}

.cover {
  width: 2.75rem;
  height: 2.75rem;
  object-fit: contain;
  border-radius: 4px;
}

.text__sub {
  color: var(--txt-secondary);
  font-size: 0.875rem;
  padding-bottom: 0.125rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.text__head {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.detailContainer {
  display: grid;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--bg-primary);
}

.mainPlayer {
  padding: 1rem 1.5rem;
  height: 100%;
  width: 100%;
  display: grid;
  grid-auto-rows: auto auto 0.5fr 1fr;
  justify-items: center;
}

.mainPlayerIsOpen--true {
  height: 25%;
}

.controls {
  display: grid;
  width: 100%;
  height: 100%;
  align-self: center;
  justify-items: center;
  padding: 1.25rem 0.5rem;
}

.controls--true {
  gap: 0;
  padding: 0;
}

.slider {
  width: 100%;
}

.slider__time {
  padding-top: 0.25rem;
  display: flex;
  justify-content: space-between;
}

.header {
  align-self: flex-start;
  width: 100%;
  padding-bottom: 3vh;
}

.playback {
  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr;
}

.playback__cover {
  width: 100%;
  padding: 0 0.5rem;
  max-width: 20rem;
  object-fit: contain;
  margin-bottom: 1rem;
}

.playback__info {
  text-align: center;
  place-self: center;
}

.info__name {
  padding: 0 0.5rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.info__artist {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.drawer {
  position: fixed;
  z-index: 4;
}

.noteWrapper {
  display: grid;
  align-content: flex-start;
  gap: 0.75rem;
  padding-bottom: 1.5rem;
}

.addButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 5;
}
