.bar {
  background-color: var(--bg-secondary);
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 4px 4px 0 0;
  grid-template-columns: auto 1fr auto;
  gap: 0.75rem;
}

.cover {
  width: 2.75rem;
  height: 2.75rem;
  object-fit: contain;
  border-radius: 4px;
}

.text__sub {
  color: var(--txt-secondary);
  font-size: 0.875rem;
  padding-bottom: 0.125rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.text__head {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
