.bar {
  background-color: var(--bg-secondary);
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 4px 4px 0 0;
  grid-template-columns: auto 1fr auto;
  gap: 0.75rem;
}

.cover {
  width: 2.75rem;
  height: 2.75rem;
  object-fit: contain;
  border-radius: 4px;
}

.text__sub {
  color: var(--txt-secondary);
  font-size: 0.875rem;
  padding-bottom: 0.125rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.text__head {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.detailContainer {
  display: grid;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--bg-primary);
}

.mainPlayer {
  padding: 1rem 1.5rem;
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
}

.mainPlayerIsOpen--true {
  height: 25%;
}

.header {
  align-self: flex-start;
  width: 100%;
  padding-bottom: 1rem;
}

.playback__cover {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.playback__info {
  text-align: center;
}

.info__name {
  padding: 0 0.5rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.info__artist {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.playControls {
  padding-bottom: 1rem;
}

.drawer {
  position: fixed;
  opacity: 0.5;
}
