.header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
}

.header > h2 {
  padding-top: 0.2rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
