.container {
  background-color: var(--bg-primary);
  padding: 1rem 1.5rem;
  overflow: auto;
  height: 100vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container__playerCard--true {
  height: calc(100vh - 60px);
}

.container::-webkit-scrollbar {
  display: none;
}

.header {
  padding-bottom: 1.5rem;
}

.cardWrapper {
  display: grid;
  gap: 1.25rem;
  padding-top: 2rem;
}
