:root {
  --spotify: #1db954;
  --bg-secondary: #252525;
  --bg-primary: #141414;
  --txt-secondary: #c2c2c2;
  --txt-primary: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--txt-primary);
}

p {
  margin: 0;
}
