a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  background-color: var(--bg-primary);
  height: calc(100vh - 60px);
  padding: 1rem 1.5rem;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container::-webkit-scrollbar {
  display: none;
}

.header {
  padding-bottom: 1.25rem;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.tabs__typo {
  padding-top: 0.25rem;
  display: flex;
  gap: 1rem;
}

.tabs__typo > a {
  color: white;
  text-decoration: none;
}

.cardWrapper {
  align-self: flex-start;
  display: grid;
  gap: 1.25rem;
  padding-top: 2rem;
}

.placeholder {
  display: grid;
  place-items: center;
  color: var(--txt-secondary);
}

.placeholder__button {
  width: 100%;
}

.placeholder__content {
  display: grid;
  gap: 2rem;
  place-items: center;
}
