.container {
  background-color: var(--bg-primary);
  height: 100vh;
  padding: 1rem 1.5rem;
  overflow: auto;
}

.header {
  padding-bottom: 1.25rem;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.tabs__typo {
  padding-top: 0.25rem;
  display: flex;
  gap: 1rem;
}

.cardWrapper {
  display: grid;
  gap: 1.25rem;
  padding-top: 2rem;
}
